[package]
name = "stytch"
version = "1.0.0"
edition = "2021"
license = "MIT"

[dependencies]
async-trait = "0.1.56"
base64 = "0.13.0"
chrono = { version = "0.4.22", default_features = false, features = ["serde", "std"] }
derivative = "2.2.0"
http = "0.2.8"
http-serde = "1.1.0"
reqwest = { version = "0.11.12", default-features = false, features = ["json"] }
serde = { version = "1.0.139", features = ["derive"] }
serde_with = "2.0.0"
thiserror = "1.0.31"
tracing = "0.1.35"
url = "2.2.2"

[dev-dependencies]
anyhow = "1.0.58"
serde_json = "1.0.82"
